In [52]:
import time 
def log(func):
    
    def wrapper(*args , **kwargs):
        start_time = time.time()
        result = func(*args , **kwargs)
        end_time = time.time()
        print(f"Function Name :{func.__name__}")
        print(f"Numbers of positionl arguments:{len(args)}")
        print(f"Keyword arguments{kwargs}")
        print(f"Return value:{result}")
        if end_time - start_time < 1:
            print("exec time : less than a sec")
        else:
            print("exec time : more than a sec ") 
        return result
    return wrapper

@log
def calculator(*args ,output_format = float , operation = "ADD"):
    if len(args) < 2:
        raise ValueError ("At least two arguments are req . ")
    if operation == "ADD":
        result = sum(args)
    elif operation == "SUB":
        result = args[0] - sum(args[1:])
    elif operation == "MUL":
        result = 1
        for num in args :
            result *= num
    elif operation == "DIV":
        result = args[0]
        for num in args[1:]:
            result/= num
    else:
        raise ValueError("invalid operation .")
    if output_format == int:
        return int(round(result))
    else:
        return result

SyntaxError: invalid syntax (1850568668.py, line 20)

In [1]:
a = [1,2,3]

In [2]:
type(a)

list

In [3]:
a.count(1)

1

In [13]:
class Student:
    uni = 'IUST'
    def __init__(self, firstname, lastname, student_id):
        # self = s1 , firstname = 'Ali'
        self.first_name = firstname 
        self.last_name = lastname
        self.full_name = f'{firstname} {lastname}'
        self.id = student_id
        
    def __str__(self):
        return f'Student: {self.full_name} {self.id}'
    
    def insert_title(self, title):
        self.full_name = f'{title} {self.first_name} {self.last_name}'

In [14]:
s1 = Student('Ali', 'Minaei', '400123456')
# Student.__init__(s1, 'Ali', 'Minaei', '400123456')

In [22]:
s1.__dict__

{'first_name': 'Ahmad',
 'last_name': 'Minaei',
 'full_name': 'Ali Minaei',
 'id': '400123456',
 'title': 'Mr.'}

In [21]:
s1.__dict__['first_name'] = 'Ahmad'

In [16]:
s1.title = 'Mr.'

In [17]:
s1.__dict__

{'first_name': 'Ali',
 'last_name': 'Minaei',
 'full_name': 'Ali Minaei',
 'id': '400123456',
 'title': 'Mr.'}

In [18]:
s2 = Student('A', 'M', '4')

In [19]:
s2.__dict__

{'first_name': 'A', 'last_name': 'M', 'full_name': 'A M', 'id': '4'}

In [10]:
s2.first_name

'A'

In [12]:
s2.uni

'IUST'

In [48]:
print(s1) # print(Student.__str__(s1))

Student: Ali Minaei 400123456

In [49]:
print(s1.full_name)

Ali Minaei

In [51]:
print(s1.full_name)

Dr. Ali Minaei

In [20]:
s1.full_name = 'Mr. ' + s1.full_name
print(s1.full_name)

Mr. Ali Minaei

In [33]:
students = []
while True:
    inp = input()
    if inp == 'exit':
        break
    #fname, lname, sid = inp.split()
    #students.append(Student(fname, lname, sid))
    students.append(Student(*inp.split()))

A B 1
C D 2
E F 3
exit

In [45]:
inp = 'A B 1'
print(*inp.split(), sep = ', ')

A, B, 1

In [34]:
for s in students:
    print(s)

Student: A B 1
Student: C D 2
Student: E F 3

In [35]:
print(students[0])

Student: A B 1

In [40]:
s1.__dict__

{'first_name': 'Ali',
 'last_name': 'Minaei',
 'full_name': 'Ali Minaei',
 'id': '400123456'}

In [41]:
s1.first_name = 'Majid'

In [42]:
s1.__dict__

{'first_name': 'Majid',
 'last_name': 'Minaei',
 'full_name': 'Ali Minaei',
 'id': '400123456'}

In [25]:
print(students[0])

<__main__.Student object at 0x0000016FD0D36530>

In [6]:
print(type(s1))

<class '__main__.Student'>

### Objects and Classes

A class is a type of object. In Python we create classes using the `class` keyword.

In [7]:
class Person:
    pass

In [9]:
p1 = Person()

In [10]:
type(p1)

__main__.Person

Now this class doesn't do much, but it is an object of type `type` (which is itself an object).

In [8]:
type(Person)

type

In [ ]:
type(type)

Classes have "built-in" attributes, even though we did not specifically add any to the class ourselves.

For example, they have a name:

In [11]:
Person.__name__

'Person'

They are also callables, and calling a class results in the creation and return of a new **instance** of that class:

In [12]:
p = Person() # Person.__init__(p)

Now the type of the object is the class used to build that object:

In [ ]:
type(p)

These instances also have "built_in" properties, which we will cover throughout this course.

For example, they have a `__class__` property that tells us which class was used to create the instance:

In [ ]:
p.__class__

As you can see that returns the class object used to instantiate `p`.

In fact:

In [ ]:
type(p) is p.__class__

We can also use `isinstance` to test if an object is an instance of a particular class - now this gets a bit more complicated when we use inheritance, but right now we're not, so it's quite straightforward:

In [ ]:
isinstance(p, Person)

In [ ]:
isinstance(p, str)

We can even use `isinstance` with our class, since we know it's type is `type`:

In [ ]:
isinstance(Person, type)

And in fact, `type` is an instance of itself - that's kind of weird, and not the case for our own classes:

In [ ]:
isinstance(type, type)

In [ ]:
isinstance(Person, Person)