In [1]:
class Account:
    '''
    Instance Attribute (variable):
        account_number: int
        first_name: str
        last_name: str
        time_zone: TimeZone
        balance : Decimal
        
    Instance Method:
        deposit
        withdraw
        make_confirmation_number
    Class Attribute:
        monthly_interest_rate: Decimal/float
        transaction_count: int
        
    '''
    def __init__(self, account_number):
        self.account_number = account_number

In [ ]:
from decimal import Decimal

In [2]:
a = 0.1
b = 0.2
print(a+b == 0.3)

False

In [3]:
print(a+b)

0.30000000000000004

In [ ]:
acc1 = Account(1001)

# TimeZone class

Let's start with the timezone class. 

This one will have two instance attributes:
+ offset
+ name

In [4]:
from datetime import datetime, timedelta
datetime.now()

datetime.datetime(2023, 10, 30, 9, 35, 0, 569809)

In [5]:
timedelta(days=10)

datetime.timedelta(days=10)

Syntax : datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

In [10]:
from datetime import datetime as myname

In [6]:
from datetime import datetime, timedelta
  
# Using current time
ini_time_for_now = datetime.now()
  
# printing initial_date
print ("initial_date", str(ini_time_for_now))
  
# Calculating future dates
# for two years
future_date_after_2yrs = ini_time_for_now + timedelta(days = 730)
  
future_date_after_35days = ini_time_for_now + timedelta(days = 35)
  
# printing calculated future_dates
print('future_date_after_2yrs:', str(future_date_after_2yrs))
print('future_date_after_35days:', str(future_date_after_35days))

initial_date 2023-10-30 09:36:41.870674
future_date_after_2yrs: 2025-10-29 09:36:41.870674
future_date_after_35days: 2023-12-04 09:36:41.870674

In [9]:
ini_time_for_now = datetime.now()
any_future = ini_time_for_now + timedelta(hours = -2, minutes = 30)
print(any_future)

2023-10-30 08:08:21.823903

In [11]:
class TimeZone:
    def __init__(self, name, offset_hours, offset_minutes):           
        self.name = name    
        self.offset = timedelta(hours=offset_hours, minutes=offset_minutes)

Let's try it out and make sure it's working:

In [12]:
tz1 = TimeZone('Argentina', -3, 0)
tz2 = TimeZone('Iran', 3, 30)

In [13]:
tz1.name, tz2.name

('Argentina', 'Iran')

In [30]:
dt = datetime.utcnow()
print(dt)

2022-11-14 06:25:41.841303

In [32]:
print(dt + tz2.offset)

2022-11-14 09:55:41.841303

In [39]:
print(dt + tz2.offset)

2022-03-03 21:35:15.838109

In [2]:
from datetime import timedelta


class TimeZone:
    def __init__(self, name, offset_hours, offset_minutes):
        if name is None or len(str(name).strip()) == 0:
            raise ValueError('Timezone name cannot be empty.')
            
        self.name = str(name).strip()
        
        if type(offset_hours) != int:
            raise ValueError('Hour offset must be an integer.')
        
        if type(offset_minutes) != int:
            raise ValueError('Minutes offset must be an integer.')
            
        if offset_minutes < -59 or offset_minutes > 59:
            raise ValueError('Minutes offset must between -59 and 59 (inclusive).')
            
        offset = timedelta(hours=offset_hours, minutes=offset_minutes)

        # offsets are technically bounded between -12:00 and 14:00
        # see: https://en.wikipedia.org/wiki/List_of_UTC_time_offsets
        if offset < timedelta(hours=-12, minutes=0) or offset > timedelta(hours=14, minutes=0):
            raise ValueError('Offset must be between -12:00 and +14:00.')
            
        self.offset_hours = offset_hours
        self.offset_minutes = offset_minutes
        self.offset = offset

In [17]:
tz1 = TimeZone(' ', -3, 0)
tz2 = TimeZone('Iran', 3, 30)

ValueError: Timezone name cannot be empty.

In [16]:
tz1.name, tz2.name

('Argentina', 'Iran')

In [36]:
dt = datetime.utcnow()
print(dt)

2022-11-14 06:31:54.753091

In [37]:
print(dt + tz1.offset)

2022-11-14 03:31:54.753091

In [38]:
print(dt + tz2.offset)

2022-11-14 10:01:54.753091

# Transaction Numbers

## OOP

In [2]:
class TransactionID:
    def __init__(self, start_id):
        self.start_id = start_id
    
    def next(self):
        self.start_id += 1
        return self.start_id

In [3]:
myid = TransactionID(0) # myid
myid.next() # TransactionID.next(myid)

1

In [4]:
myid.start_id

1

In [42]:
myid.next()

2

In [5]:
class Account:
    transaction_counter = TransactionID(100)
    def make_transaction(self):
        new_trans_id = Account.transaction_counter.next()
        return new_trans_id

In [6]:
a1 = Account()
a2 = Account()

In [7]:
print(a1.make_transaction())
print(a2.make_transaction())
print(a1.make_transaction())

101
102
103

## Generators

In [20]:
def transaction_ids(start_id):
    while True:
        start_id += 1
        yield start_id

In [27]:
l = [next(t) for i in range(10)]
l

[106, 107, 108, 109, 110, 111, 112, 113, 114, 115]

In [21]:
t = transaction_ids(100)

In [22]:
next(t)

101

In [26]:
next(t)

105

In [31]:
class Account:
    transaction_counter = transaction_ids(120)
    def make_transaction(self):
        new_trans_id = next(Account.transaction_counter)
        return new_trans_id

In [32]:
a1 = Account()
a2 = Account()

In [33]:
print(a1.make_transaction())
print(a2.make_transaction())
print(a1.make_transaction())

121
122
123

## itertools

In [35]:
import itertools
class Account:
    transaction_counter = itertools.count(100)
    def make_transaction(self):
        new_trans_id = next(Account.transaction_counter)
        return new_trans_id

In [19]:
import itertools

In [17]:
a1 = Account()
a2 = Account()

In [18]:
print(a1.make_transaction())
print(a2.make_transaction())
print(a1.make_transaction())

100
101
102

# Account Number, First Name, Last Name

In [65]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name):
        if len(first_name) == 0: 
            raise ValueError('First name cannot be empty.')
        if len(last_name) == 0: 
            raise ValueError('Last name cannot be empty.')

        self.first_name = first_name
        self.last_name = last_name
        self.account_number = account_number

In [36]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name):

        self.first_name = Account.validate_name(first_name, 'First Name')
        self.last_name = Account.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
    def validate_name(value, field_title):
        if len(str(value)) == 0:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [20]:
a = Account('1234', 'Ali', '')

ValueError: Last Name cannot be empty

In [21]:
a = Account('1234', 'Ali', 'Afshari')

In [22]:
print(a.first_name)

Ali

In [23]:
a = Account('1234', 'Ali', None)

In [24]:
str('None')

'None'

In [ ]:
# unit testing is needed

In [77]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [78]:
a = Account('1234', 'Ali', None)

ValueError: Last Name cannot be empty

# Preferred TimeZone

In [1]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

NameError: name 'itertools' is not defined

In [43]:
acc1 = Account(1111, "TA", 'Ra', TimeZone('X', 5, 100))

ValueError: Minutes offset must between -59 and 59 (inclusive).

In [41]:
acc1.timezone.name

'X'

In [47]:
isinstance(tz1, int)

False

In [49]:
try:
    a = Account('123', 'Ali', 'Afshari', '-7:00')
except ValueError:
    print(ValueError)

<class 'ValueError'>

In [48]:
Account('123', 'Ali', 'Afshari', '-7:00')

ValueError: Time Zone must be a valid TimeZone object

In [29]:
a = Account('123', 'Ali', 'Afshari', '-7:00')

ValueError: Time Zone must be a valid TimeZone object

In [30]:
a = Account('123', 'Ali', 'Afshari')

In [34]:
a.timezone.offset_hours

-3

In [35]:
a.timezone = TimeZone('Argentina', -3, 0)

In [36]:
print(a.timezone)

<__main__.TimeZone object at 0x0000019E55AC37F0>

In [3]:
# add __repr__ to TimeZone class
from datetime import timedelta


class TimeZone:
    def __init__(self, name, offset_hours, offset_minutes):
        if name is None or len(str(name).strip()) == 0:
            raise ValueError('Timezone name cannot be empty.')
            
        self.name = str(name).strip()
        
        if type(offset_hours) != int:
            raise ValueError('Hour offset must be an integer.')
        
        if type(offset_minutes) != int:
            raise ValueError('Minutes offset must be an integer.')
            
        if offset_minutes < -59 or offset_minutes > 59:
            raise ValueError('Minutes offset must between -59 and 59 (inclusive).')
            
        offset = timedelta(hours=offset_hours, minutes=offset_minutes)

        # offsets are technically bounded between -12:00 and 14:00
        # see: https://en.wikipedia.org/wiki/List_of_UTC_time_offsets
        if offset < timedelta(hours=-12, minutes=0) or offset > timedelta(hours=14, minutes=0):
            raise ValueError('Offset must be between -12:00 and +14:00.')
            
        self.offset_hours = offset_hours
        self.offset_minutes = offset_minutes
        self.offset = offset
        
    def __repr__(self):
        return (f"TimeZone(name='{self.name}', offset_hours={self.offset_hours}, offset_minutes={self.offset_minutes})")

In [7]:
class Test:
    def __init__(self):
        self.a = 10
        
    def __str__(self):
        return f"a = {self.a}"
    
    def __repr__(self):
        return f"<class>Test(a={self.a})"

In [8]:
t1 = Test()

In [10]:
print(t1)

a = 10

In [12]:
type(10)

int

In [13]:
tz1 = TimeZone('Tehran', 3, 30)

In [15]:
print(tz1)

TimeZone(name='Tehran', offset_hours=3, offset_minutes=30)

In [40]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [41]:
a = Account('123', 'Ali', 'Afshari')

In [42]:
a.timezone.offset_hours

3

In [43]:
a.timezone = TimeZone('Argentina', -3, 0)

In [44]:
print(a.timezone)

TimeZone(name='Argentina', offset_hours=-3, offset_minutes=0)

# Account Balance

In [20]:
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        if not isinstance(initial_balance, Decimal):
            raise TypeError('initial balance must be of Decimal class')
        self.initial_balance = initial_balance
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [21]:
from decimal import Decimal
a = 0.1
b = 0.2
print(a+b == 0.3)

False

In [22]:
from decimal import Decimal
a = Decimal('0.1')
b = Decimal('0.2')
print(a+b == Decimal('0.3'))

True

In [24]:
a = Account('123', 'Ali', 'Afshari', initial_balance = 1000)

TypeError: initial balance must be of Decimal class

# interest rate
it is common to all the Accounts so it is not an instance variable,
it is really best suited to be a class variable(attribute)

In [25]:
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.initial_balance = initial_balance
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [26]:
a1 = Account(1234, 'Ali', 'Afshari')
a2 = Account(12345, 'Mina', 'Mohebbi')

In [27]:
a1.first_name

'Ali'

In [28]:
a1.interest_rate, a2.interest_rate

(0.5, 0.5)

In [29]:
Account.interest_rate

0.5

In [30]:
Account.interest_rate = 1

In [31]:
a1.interest_rate, a2.interest_rate

(1, 1)

In [32]:
a1.interest_rate = 0.5

In [33]:
a1.interest_rate, a2.interest_rate

(0.5, 1)

In [34]:
a1.__dict__

{'first_name': 'Ali',
 'last_name': 'Afshari',
 'account_number': 1234,
 'timezone': TimeZone(name='Tehran', offset_hours=3, offset_minutes=30),
 'initial_balance': Decimal('0.0'),
 'interest_rate': 0.5}

In [61]:
a2.__dict__

{'first_name': 'Mina',
 'last_name': 'Mohebbi',
 'account_number': 12345,
 'timezone': TimeZone(name='Tehran', offset_hours=3, offset_minutes=30),
 'initial_balance': Decimal('0.0')}

In [62]:
a2.interest_rate

10

In [63]:
Account.__dict__

mappingproxy({'__module__': '__main__',
              'transaction_counter': count(100),
              'interest_rate': 10,
              '__init__': <function __main__.Account.__init__(self, account_number, first_name, last_name, timezone=None, initial_balance=Decimal('0.0'))>,
              'validate_name': <function __main__.Account.validate_name(self, value, field_title)>,
              '__dict__': <attribute '__dict__' of 'Account' objects>,
              '__weakref__': <attribute '__weakref__' of 'Account' objects>,
              '__doc__': None})

In [64]:
a1.__class__.__dict__

mappingproxy({'__module__': '__main__',
              'transaction_counter': count(100),
              'interest_rate': 10,
              '__init__': <function __main__.Account.__init__(self, account_number, first_name, last_name, timezone=None, initial_balance=Decimal('0.0'))>,
              'validate_name': <function __main__.Account.validate_name(self, value, field_title)>,
              '__dict__': <attribute '__dict__' of 'Account' objects>,
              '__weakref__': <attribute '__weakref__' of 'Account' objects>,
              '__doc__': None})

# Transaction Codes

In [65]:
# using a dictionary
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    transaction_codes = {
        'deposit' : 'D',
        'withdraw' : 'W',
        'interest' : 'I',
        'rejected' : 'X'
    }
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.initial_balance = initial_balance
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

# Confirmation Code

As I mentioned earlier the code should contain:
    + the transaction code
    + the account number
    + the date/time in UTC of the transaction
    + the transaction number

Something like: X-123-20220303205956-1000

In [35]:
def generate_confirmation_code(account_number, transaction_id, transaction_code):
    dt_str = datetime.utcnow().strftime('%Y%m%d%H%M%S')
    return f'{transaction_code}-{account_number}-{dt_str}-{transaction_id}'

In [36]:
from datetime import datetime, timedelta
generate_confirmation_code(123, 1000, 'X')

'X-123-20231104055801-1000'

In [37]:
# using a dictionary
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    transaction_codes = {
        'deposit' : 'D',
        'withdraw' : 'W',
        'interest' : 'I',
        'rejected' : 'X'
    }
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.initial_balance = initial_balance
        
    def generate_confirmation_code(self, transaction_code):
        transaction_id = next(Account.transaction_counter)
        dt_str = (datetime.utcnow()+self.timezone.offset).strftime('%Y%m%d%H%M%S')
        return f'{transaction_code}-{self.account_number}-{dt_str}-{transaction_id}'
    
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [38]:
a1 = Account(1111, 'AAAA', 'BBBB')
a2 = Account(2222, 'CCCC', 'DDDD')

In [39]:
a1.generate_confirmation_code('X')

'X-1111-20231104092947-100'

# Transactions

In [55]:
# using a dictionary
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    transaction_codes = {
        'deposit' : 'D',
        'withdraw' : 'W',
        'interest' : 'I',
        'rejected' : 'X'
    }
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, balance = Decimal('0.0')):

        self.first_name = Account.validate_name(first_name, 'First Name')
        self.last_name = Account.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.balance = balance
        
    def generate_confirmation_code(self, transaction_code):
        transaction_id = next(Account.transaction_counter)
        dt_str = (datetime.utcnow()+self.timezone.offset).strftime('%Y%m%d%H%M%S')
        return f'{transaction_code}-{self.account_number}-{dt_str}-{transaction_id}'
    
    
    def validate_name(value, field_title):
        if len(str(value.strip())) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()
    # self.first_name = Account.validate_name(first_name, 'First Name')
    # Account.validate_name(self, first_name, 'First Name')
    
    def deposit(self, value):
        if value < Decimal('0.0'):
            raise ValueError('Deposit value must be a positive number')
        
        conf_code = self.generate_confirmation_code(Account.transaction_codes['deposit'])
        self.balance += value
        return conf_code
    
    def withdraw(self, value):
        flag = False
        if value < Decimal('0.0'):
            raise ValueError('withdraw value must be a positive number')
        if self.balance - value < Decimal('0.0'):
            transaction_code = Account.transaction_codes['rejected']
        else:
            transaction_code = Account.transaction_codes['withdraw']
            flag = True
        conf_code = self.generate_confirmation_code(transaction_code)
        if flag:
            self.balance -= value
        return conf_code
    
    def pay_interest(self):
        interest = self.balance * Account.interest_rate / 100
        conf_code = self.generate_confirmation_code(Account.transaction_codes['interest'])
        self.balance += interest
        return conf_code

In [ ]:
#########
class Test:

In [45]:
a = Account('A100', 'A', 'B', balance = Decimal('100.0'))

In [46]:
a.balance

Decimal('100.0')

In [47]:
a.deposit(Decimal('-100'))

ValueError: Deposit value must be a positive number

In [48]:
a.deposit(Decimal('100'))

'D-A100-20231104094230-100'

In [49]:
a.withdraw(Decimal('10.1'))

'W-A100-20231104094251-101'

# Unit Testing

In [43]:
a = Account('A100', 'A', 'B', timezone=TimeZone('MST', -7, 0), balance=Decimal('100'))
print(a.balance)
print(a.deposit(Decimal('150.02')))
print(a.balance)
print(a.withdraw(Decimal('0.02')))
print(a.balance)
Account.interest_rate = 1
print(a.interest_rate)
print(a.pay_interest())
print(a.balance)
print(a.withdraw(Decimal('1000')))

TypeError: Account.validate_name() takes 2 positional arguments but 3 were given

In [52]:
import unittest
def run_tests(test_class):
    suite = unittest.TestLoader().loadTestsFromTestCase(test_class)
    runner = unittest.TextTestRunner(verbosity=2)
    runner.run(suite)

In [56]:
class TestAccount(unittest.TestCase):
    def test_create_timezone_1(self):
        tz = TimeZone('ABC', -1, -30)
        self.assertEqual('ABC', tz.name)
        
    def test_create_timezone_2(self):
        tz = TimeZone('ABC', 1, -30)
        self.assertEqual(timedelta(hours=1, minutes=-30), tz.offset)
        
    def test_create_account(self):
        account_number = 'A100'
        first_name = 'FIRST'
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        a = Account(account_number, first_name, last_name, tz, balance)
        
        self.assertEqual(account_number, a.account_number)
        self.assertEqual(first_name, a.first_name)
        self.assertEqual(last_name, a.last_name)
        self.assertEqual(tz, a.timezone)
        self.assertEqual(balance, a.balance)
        
    def test_create_account_blank_first_name(self):
        account_number = 'A100'
        first_name = ''
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        with self.assertRaises(ValueError):
            a = Account(account_number, first_name, last_name, tz, balance)
            
    def test_create_account_blank_first_name_2(self):
        account_number = 'A100'
        first_name = '  '
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        with self.assertRaises(ValueError):
            a = Account(account_number, first_name, last_name, tz, balance)
            
    def test_create_account_negative_balance(self):
        account_number = 'A100'
        first_name = '  '
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('-100')
        
        with self.assertRaises(ValueError):
            a = Account(account_number, first_name, last_name, tz, balance)
            
            
    def test_account_withdraw_ok(self):
        account_number = 'A100'
        first_name = 'First'
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        a = Account(account_number, first_name, last_name, tz, balance)
        conf_code = a.withdraw(20)
        self.assertTrue(conf_code.startswith('W-'))
        self.assertEqual(balance-Decimal('20'), a.balance)

In [57]:
run_tests(TestAccount)

test_account_withdraw_ok (__main__.TestAccount) ... ok
test_create_account (__main__.TestAccount) ... ok
test_create_account_blank_first_name (__main__.TestAccount) ... ok
test_create_account_blank_first_name_2 (__main__.TestAccount) ... ok
test_create_account_negative_balance (__main__.TestAccount) ... ok
test_create_timezone_1 (__main__.TestAccount) ... ok
test_create_timezone_2 (__main__.TestAccount) ... ok

----------------------------------------------------------------------
Ran 7 tests in 0.013s

OK

In [60]:
a1.__dict__

{'first_name': 'AAAA',
 'last_name': 'BBBB',
 'account_number': 1111,
 'timezone': TimeZone(name='Tehran', offset_hours=3, offset_minutes=30),
 'initial_balance': Decimal('0.0')}

In [61]:
a1.first_name = ''

In [62]:
a1.__dict__

{'first_name': '',
 'last_name': 'BBBB',
 'account_number': 1111,
 'timezone': TimeZone(name='Tehran', offset_hours=3, offset_minutes=30),
 'initial_balance': Decimal('0.0')}