In [ ]:
# python
# 10 Ex (6-7 series), 5 Final Exam, 5 final project,
#   +2 pre+act.
# email: rafiei.ta@gmail.com
# https://quera.org/course/add_to_course/course/14932/
#

In [ ]:
'''
Ms. Esmi
Mr. Pejman
Mr. Imani
Mr. Yari
Mr. Lotfi
Ms. Alizade
'''

In [1]:
myint = 'salam'
print(myint)

myint = 12
print(myint)

salam
12

In [ ]:
#include <iostream>
int main() {
    int myint;
    myint = 12;
    cout << myint;
    return 0;
}

In [9]:
# data type
myint = 12
myfloat = 12.2
mystr1 = 'salam'
mystr2 = "salma"
mystr3 = '''salam
khodahafez'''
mystr3 = """salam
khodahafez"""
mybool = True

mylist = [1, 2, True, 'salam', [], mystr2]
mylist.append(0)
mylist.insert(3, 'hello')
mylist.extend([1, 1, 1])
mylist.remove('salam')
mylist.pop(1)
print(mylist)

[1, True, 'hello', [], 'salma', 0, 1, 1, 1]

In [10]:
x = mylist.count(1)
print(x)

5

In [11]:
numlist = [1, -10, 100, 12, 12.5 , 13]
numlist.sort()
print(numlist)

[-10, 1, 12, 12.5, 13, 100]

In [14]:
print(numlist[1:5:2])

[1, 12.5]

In [16]:
print(numlist[-1] == numlist[5])

True

In [7]:
mylist.clear()
print(mylist)

[]

In [8]:
del mylist
print(mylist)

NameError: name 'mylist' is not defined

In [17]:
mydict = {'hello' : 'salam', 'apple' : 'sib'}
print(mydict['hello'])

salam

In [19]:
mydict['strawberry'] = 'tootfarangi'

In [20]:
print(mydict)

{'hello': 'salam', 'apple': 'sib', 'strawberry': 'tootfarangi'}

In [22]:
del mydict['hello']

In [23]:
print(mydict)

{'apple': 'sib', 'strawberry': 'tootfarangi'}

In [25]:
a = 12
b = a

print('a = ' , a , '\nb = ', b)

a += 1

print('a = ' , a , '\nb = ', b)

a =  12
b =  12
a =  13
b =  12

In [27]:
a = [12]
b = a.copy()

print('a = ' , a , '\nb = ', b)

a += [1]

print('a = ' , a , '\nb = ', b)

a =  [12]
b =  [12]
a =  [12, 1]
b =  [12]

In [28]:
myset1 = {1, 2, 3}
myset2 = {2, 8, -9}
print(myset1 - myset2)

{1, 3}

In [30]:
print(myset1.union(myset2))

{1, 2, 3, -9, 8}

In [31]:
dir(myset1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [34]:
help(myset1.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [33]:
print(myset1)

{1, 2, 3}

In [ ]:
print(myset1)
myset1.update({'h', 'q'})
print(myset1)

In [37]:
# type casting
inp = '123'
# inp = int(inp)
print(inp + str(1))

1231

In [38]:
mylist = [1, 1, '2', '1']
myset = set(mylist)
print(myset)

{1, '1', '2'}

In [39]:
myset = list(myset)
print(myset)

[1, '1', '2']

In [44]:
a = 11
if (a > 10) or not(a < -10) :
    print('ok')
    print('okk')
elif a > 5 :
    print('5')
else:
    print('nok')

ok
okk

In [45]:
a = 0
while a <= 5 :
    print(a)
    a += 1

0
1
2
3
4
5

In [ ]:
for (a = 0; a <= 5, a+=1) {
    cout << a
}

In [51]:
for a in range(0, 6):
    if a % 2 == 0 :
        continue
    if a == 3:
        break
    print(a)
print('exit')

1
exit

In [52]:
def myfunc1(a, b , c):
    if type(a) == type(b):
        d = a + b + c 
    else:
        return 0
    return d

def myfunc2(a, b , c):
    d = a + b + c 
    print(d)

In [57]:
var = myfunc1(1, 2, 3.0)

In [59]:
print(int(var))

6

In [63]:
var = myfunc1('a', 'salam', 1)

TypeError: can only concatenate str (not "int") to str

In [62]:
print(var)

asalam!

In [64]:
f = lambda a, b, c : a + b + c

In [65]:
f(1, 2, 3)

6

In [66]:
mylist = [-90, -120, 80, 75, 12]

In [67]:
mylist.sort()
print(mylist)

[-120, -90, 12, 75, 80]

In [68]:
def f(number):
    return abs(number - 12)

In [69]:
mylist.sort(key= f)

In [70]:
print(mylist)

[12, 75, 80, -90, -120]

In [73]:
mylist = ['apple', 'age', 'oranange', 'strawberry', 'appending']

In [74]:
mylist.sort()
print(mylist)

['age', 'appending', 'apple', 'oranange', 'strawberry']

In [75]:
def f(string):
    return len(string)

In [76]:
mylist.sort(key = f)

In [77]:
print(mylist)

['age', 'apple', 'oranange', 'appending', 'strawberry']

In [80]:
mylist.sort(key = lambda string : -len(string))

In [81]:
print(mylist)

['strawberry', 'appending', 'oranange', 'apple', 'age']

In [82]:
list2d = [[1,2], [2,3], [3,4]]

In [84]:
print(list2d[0][0])

1

In [85]:
row = 3
col = 4

a = []
for i in range(row):
    b = []
    for j in range(col):
        b.append(0)
    a.append(b)

In [86]:
print(a)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [87]:
x = [0]
y = x * 4 # y = [0] + [0] + [0] + [0]
print(y)

[0, 0, 0, 0]

In [88]:
x = 'a'
y = x * 4 # 'a' + 'a' + 'a' + 'a'
print(y)

aaaa

In [89]:
row = 3
col = 4

a = []
for i in range(row):
    b = [0] * col
    a.append(b)

In [90]:
print(a)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [91]:
a[0][1] = 2
print(a)

[[0, 2, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [92]:
a = [[0] * 4] * 3
print(a)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [93]:
a[0][1] = 2
print(a)

[[0, 2, 0, 0], [0, 2, 0, 0], [0, 2, 0, 0]]

In [ ]:
row = 3
col = 4

a = []
for i in range(row):
    b = []
    for j in range(col):
        b.append(0)
    a.append(b)

In [95]:
a = [[0 for j in range(col)] for i in range(row)] # list comprehension
print(a)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [96]:
a[0][2] = 2
print(a)

[[0, 0, 2, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [100]:
keys = ['a', 'b', 'c', 'd']
values = list(range(4))
print(keys)
print(values)
print(list(zip(keys, values)))

['a', 'b', 'c', 'd']
[0, 1, 2, 3]
[('a', 0), ('b', 1), ('c', 2), ('d', 3)]

In [101]:
keys = ['a', 'b', 'c', 'd']
values = list(range(4))
x = {k:v for k,v in zip(keys, values)}
print(x)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [102]:
# fact(n) = fact(n-1) * n
# n = 1 : 1

def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

In [103]:
print(fact(4))
# fact(3) * 4 -> fact(2) * 3 * 4 -> 1 * 2 * 3 * 4

24

In [104]:
# fib(n) = fib(n-1) + fib(n-2)
# fib(1) : 1 , fib(2) : 1
# 1, 1, 2, 3, 5, 8, 13
def fib(n):
    if n == 1 or n == 2: # if n in [1,2]
        return 1
    else:
        return fib(n-1) + fib(n-2)
print(fib(7))

13

In [106]:
import math
print(math.log(14, 3))

2.402173502732879

In [107]:
file = open('test1.txt', 'w')
file.write('hello\npython file\ngood bye\n')
file.close()

In [108]:
file = open('test1.txt', 'r')
print(file.read())
file.close()

hello
python file
good bye

In [110]:
file = open('test1.txt', 'r')
for line in file:
    print(line.upper().strip())
file.close()

HELLO
PYTHON FILE
GOOD BYE

In [ ]:
# functional programming
# object orientend programming
# concurrent programming
# web scraping
# ---
# data science + sql + numpy + pandas

In [112]:
min(1, 2)

1

In [113]:
print('salam', 'ok', sep = '*', end = '!')

salam*ok!

In [ ]:
#Saeedi 400521234 C++ 18

#Saeedi
#400521234
#C++
#18

In [1]:
name = input()
sid = input()
lang = input()
mark = float(input())
#mark = float(mark)

Saeedi
400521234
C++
18

In [6]:
type(name)

str

In [7]:
mylist = input()

[1, 2, 3, 4, 5]

In [9]:
print(type(mylist))

<class 'str'>

In [12]:
data = input()

Saeedi,400521234,C++,18

In [13]:
print(data.split(','))

['Saeedi', '400521234', 'C++', '18']

In [14]:
name, sid, lang, mark = data.split(',')

In [15]:
print(lang)

C++

In [16]:
data = input()

20 12 10 9 8 99 -9 1000

In [ ]:
data = list(map(int, input().split()))

In [17]:
data = data.split()

In [18]:
print(data)

['20', '12', '10', '9', '8', '99', '-9', '1000']

In [ ]:
for i in range(len(data)):
    data[i] = int(data[i])

In [20]:
data_2 = list(map(int, data))

In [21]:
print(data_2)

[20, 12, 10, 9, 8, 99, -9, 1000]

In [19]:
map?

In [22]:
marks = [10, 9, 13, 18, 15, 17]

In [23]:
marks = list(map(lambda m: m+2, marks))

In [24]:
print(marks)

[12, 11, 15, 20, 17, 19]

In [ ]:
def plus2(m):
    return m+2

marks = list(map(plus2, marks))

In [25]:
data = 'maryam 19'

In [31]:
while True:
    try:
        age = int(input())
    except:
        print('invalid input data\n enter a numeric value again')
    else:
        break

ssss
invalid input data
 enter a numeric value again
ssss
invalid input data
 enter a numeric value again
ssss
invalid input data
 enter a numeric value again
12

In [29]:
print(type(age), age)

<class 'int'> 13

In [32]:
def f(n):
    try:
        n = int(n)
    except:
        return n
    else:
        return n

In [33]:
list(map(f, 'maryam 19'.split()))

['maryam', 19]

In [34]:
s = 'hello world'

In [43]:
print(s.endswith('H'))

False

In [49]:
print(s.count('hello'))

1

In [54]:
print(s.find('l', 4))

9

In [55]:
s.find?

In [57]:
mylist = ['a', 'b', 'c', 'd']
print('++++'.join(mylist))

a++++b++++c++++d

In [58]:
mystr = 'a++++b++++c++++d'
print(mystr.split('++++'))

['a', 'b', 'c', 'd']

In [60]:
print(mystr.replace('+', ''))

abcd

In [68]:
a = []
if a:
    print('not empty')
else:
    print('empty')

empty

In [70]:
x = open('test1.txt')

In [71]:
print(type(x))

<class '_io.TextIOWrapper'>

In [72]:
y = x.readlines()

In [73]:
print(y)

['hello\n', 'python file\n', 'good bye\n']

In [76]:
list(map(lambda m: m.replace('\n', ''), y))

['hello', 'python file', 'good bye']